.about-section{
    padding:150px 0 100px;
    background:#000;
}

.about-image{
    text-align:center;
}

.about-image img{
    width:350px;
    height:350px;
    object-fit:cover;
    border-radius:20px;
    border:3px solid #00d4ff;
}

.about-tag{
    color:#f4b400;
    letter-spacing:3px;
}

.about-section h1{
    margin:20px 0;
    font-size:60px;
}

.about-section h2{
    color:#00d4ff;
    margin-bottom:25px;
}

.about-section p{
    color:#aaa;
    line-height:32px;
}

.about-info{
    display:flex;
    gap:50px;
    margin-top:40px;
}

.about-info h4{
    color:#00d4ff;
}

.about-info span{
    color:white;
}

.experience-section,
.education-section,
.tech-section{
    padding:100px 0;
    background:#111;
}

.education-section{
    background:#000;
}

.tech-section{
    background:#111;
}

.experience-section h2,
.education-section h2,
.tech-section h2{
    text-align:center;
    margin-bottom:50px;
}

.timeline-card,
.edu-card{
    background:#1a1a1a;
    padding:35px;
    border-radius:20px;
    margin-bottom:30px;
    transition:.4s;
}

.timeline-card:hover,
.edu-card:hover{
    transform:translateY(-10px);
}

.timeline-card h3,
.edu-card h3{
    color:#00d4ff;
}

.timeline-card h4{
    color:white;
    margin:15px 0;
}

.timeline-card p{
    color:#aaa;
}

.timeline-card ul{
    margin-top:20px;
}

.timeline-card li{
    color:#bbb;
    margin-bottom:10px;
}

.tech-grid{
    display:flex;
    flex-wrap:wrap;
    gap:15px;
    justify-content:center;
}

.tech-grid span{
    padding:12px 25px;
    border:1px solid #00d4ff;
    background:#222;
    color:#00d4ff;
    border-radius:30px;
}

@media(max-width:768px){

.about-section h1{
    font-size:42px;
}

.about-image img{
    width:280px;
    height:280px;
    margin-bottom:40px;
}

.about-info{
    flex-direction:column;
    gap:20px;
}

}