.contact-section{
    padding:150px 0 100px;
    background:#000;
}

.contact-heading{
    text-align:center;
    margin-bottom:70px;
}

.contact-heading span{
    color:#f4b400;
    letter-spacing:3px;
}

.contact-heading h1{
    font-size:60px;
    margin:20px 0;
}

.contact-heading p{
    color:#999;
}

.contact-info{
    display:flex;
    flex-direction:column;
    gap:25px;
}

.info-box{
    background:#161616;
    padding:30px;
    border-radius:20px;
}

.info-box h3{
    color:#00d4ff;
    margin-bottom:15px;
}

.info-box p{
    color:#999;
    margin:0;
}

.info-box a{
    text-decoration:none;
    color:#fff;
}

.info-box a:hover{
    color:#00d4ff;
}

.contact-form{
    background:#161616;
    padding:40px;
    border-radius:20px;
}

.contact-form form{
    display:flex;
    flex-direction:column;
}

.contact-form input,
.contact-form textarea{

    margin-bottom:20px;

    background:#222;

    border:none;

    padding:18px;

    border-radius:10px;

    color:white;

    outline:none;

}

.contact-form input::placeholder,
.contact-form textarea::placeholder{
    color:#888;
}

.contact-form button{

    background:#00d4ff;

    color:#000;

    border:none;

    padding:16px;

    border-radius:30px;

    font-weight:700;

    transition:.4s;

}

.contact-form button:hover{

    background:#f4b400;

}

@media(max-width:768px){

.contact-heading h1{
    font-size:42px;
}

.contact-form{
    margin-top:40px;
}

}